
<div class="container">
    <div class="row " style="height: 100vh;">
      <div class="col col-md-12 divBienvenue ">
        <!-- <object
        data="./../../../../assets/images/terajob-image/mail-validated.svg"
          class="logo-style"
          width="300"
          height="300"
        ></object> -->
        <h1 class="head-text">Bienvenue sur <span class="head-text-2"> TERAJOB ADMIN </span></h1>
        <p class="subtitle">
          Merci de confirmer votre compte admnin terajob. Pour continuer, veuillez confirmer votre adresse email en
          cliquant sur le bouton ou en vous rendant sur votre messagerie.
        </p>
        <button class="btn-mail btn-text" (click)="verifyMail()">Confirmer votre mail</button>
      </div>
      <!-- <div class="col col-md-6 img-justify oval">
         <object
          data="./../../../../assets/images/terajob-image/mail-validated.svg"
          class="illustration-pos"
        ></object>
       
      </div> -->
    </div>
  </div>
  