table {
  width: 100%;
}

td,
th {
  width: 20%;
  min-width: 116px;
}
td.mat-column-star {
  width: 20px;
  // padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}
.mat-paginator-page-size-label {
  width: 263% !important;
}
// .mat-table-sticky-border-elem-right {
//   border-left: 1px solid #e0e0e0;
// }

// .mat-table-sticky-border-elem-left {
//   border-right: 1px solid #e0e0e0;
// }

.mat-fab {
  width: auto !important;
  height: 46px !important;
  border-radius: 5% !important;
  padding: 0px 10px !important;

  .mat-button-wrapper {
    padding: 0 !important;
  }
}
.unblocked {
  background: none !important;
  color: #198754;
}
.block {
  background: none !important;
  color: #ff0000;
}
