<section class="center_form">
  <div class="container">
    <div class="row">
      <div>
        <div>
          <h1> Nouveau mot de passe </h1>
        </div>
        <form [formGroup]="newPasswordForm">
          <div>
            <label for="newPassword"> Nouveau mot de passe </label>
            <input placeholder="Inserer un mot de passe" type="newPassword" name="newPassword" id="newPassword" formControlName="password">
          </div>
          <div>
            <label for="password"> Confirmation du mot de passe </label>
            <input placeholder="Confirmer votre password" type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
          </div>
          <div>
            <button type="submit"> Modifier </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
